/* game board table */
body {
	background-color: rgb(250, 168, 114);
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 4em;
	color: #e6e6e6;
	font-family: 'Amatic SC', cursive;
}

#board td {
	width: 60px;
	height: 60px;
	border: solid 1px rgb(75, 75, 75);
}

.piece {
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

#column-top td {
	border: dashed 1px darkgray;
}

#column-top td:hover {
	background-color: gold;
}

#board {
	margin: 0 auto;
	box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.651);
}
